@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'weblysleek_uilight';
	src: url('../assets/fonts/weblysleekuil.eot');
	src: url('../assets/fonts/weblysleekuil.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/weblysleekuil.woff2') format('woff2'), url('../assets/fonts/weblysleekuil.woff') format('woff'), url('../assets/fonts/weblysleekuil.ttf') format('truetype'), url('../assets/fonts/weblysleekuil.svg#weblysleek_uilight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationMonoRegular';
	src: url('../assets/fonts/liberation-mono-webfont.eot');
	src: url('../assets/fonts/liberation-mono-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/liberation-mono-webfont.woff') format('woff'), url('../assets/fonts/liberation-mono-webfont.ttf') format('truetype'), url('../assets/fonts/liberation-mono-webfont.svg#LiberationMonoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@layer base {
	:root {
		/* --overlay-color: #2c2d33; */
		--color-gray-333: #333333;

		--gray: #d4d4d4;
		--red: #ee5f5b;
		--blue: #19B5FE;
		--yellow: #f89406;
		--aqua: #7FDBFF;

		--purple: #aa1fd9;
		--turquois: #00FFE0;
		--green: #ABC65D;
		--orange: #DFB626;
		--pink: #fe57a1;

		--font-sans: "weblysleek_uilight", sans-serif;
		--font-mono: "LiberationMonoRegular", monospace;

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 82.7% 40.8%;

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 93%;
		--muted-foreground: 215.4 16.3% 30%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--input-invalid: 0 84.2% 60.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 20% 83%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 90%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 285 84% 3%; /* PURPLE: #0b010e,  GRAY: 222.2 84% 4.9%; */
		--foreground: 210 40% 98%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: -4 84% 60%;

		--muted: 217.2 32.6% 12%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 20% 24%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 10%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 60% 40%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 217.2 32.6% 60%;
	}
}

main h2 {
	text-decoration: underline;
	text-decoration-color: var(--green);
	text-decoration-thickness: 2px;
}

.left-panel {
	background:
		linear-gradient(rgba(44, 45, 51, 0.9), rgba(44, 45, 51, 0.9)),
		url('/img/home.png'); /* /img/home.png */
	background-size: cover;
	/*
	background-position: 50% 4%;
	background-size: 113% 208%;
	background-repeat: no-repeat;
	*/
}

.a__logo-link {
	& img {
		/* filter: drop-shadow(2px 2px 2px #222); */
		/* filter: drop-shadow(0px -5px 27px #9a5b77); */
	}
}

.border-animation {
	/*
	color: transparent;
	background-clip: text;
	*/
	/* <'text-decoration-line'>|| <'text-decoration-style'>|| <'text-decoration-color'>|| <'text-decoration-thickness'> */
	text-decoration: underline;
	text-decoration-color: var(--green);
	text-decoration-thickness: 3px;
}

.color-pink {
	color: var(--pink)
}

.social-btn {
	/* color: var(--green) */
	&:hover {
		color: var(--green)
	}
}